.form__img-second {
  background-size: cover;
  background-position: center;
  background-image: url("../../../images/image\ 38.png");
  width: 1000px;
  height: 100px;
  background-repeat: no-repeat;
  position: relative;
  left: 180px;
  bottom: 100px;
}

@media screen and (max-width: 768px) {
  .form__img-second {
    display: none;
  }
}