@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-Regular.woff), url(fonts/Inter-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-Medium.woff2), url(fonts/Inter-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-Black.woff2), url(fonts/Inter-Black.woff);
  font-weight: 900;
}

.root {
  font-family: "Inter";
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  max-width: 1280px;
  color: #353B42;

}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 100px;
  height: 100px;
  background-image: url("./images/chisto-life-logo.jpg");
  background-position: center;
  background-size: cover;
}

.header__menu {
  display: flex;
  gap: 90px;
  list-style-type: none;
}

.header__number {
  display: flex;
}

.header__number-logo {
  width: 38px;
  height: 38px;
  background-image: url("./images/number.svg");
  background-size: cover;
  background-position: center;
}

.header__number-phone {
  margin-left: 10px;
  margin-top: 10px;
}

.content {
  display: flex;
  overflow: hidden;
  min-height: 500px;
}

.content__header {
  max-width: 695px;
}

.content__text {
  max-width: 632px;
  font-size: 16px;
  line-height: 34px;
}

.content__btn {
  width: 180px;
  height: 50px;
  background-color: #ffcd60;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.content__btn:hover {
  cursor: pointer;
}

.content__first-img {
  background-image: url("./images/divan.png");
  width: 800px;
  height: 400px;
  background-size: cover;
  cursor: pointer;
}

.content__second-img {
  background-image: url("./images/second.png");
  width: 250px;
  height: 240px;
  background-size: cover;
  position: absolute;
  bottom: 60px;
  cursor: pointer;
}

.content-container {
  position: relative;
}

.header__number-phone {
  text-decoration: none;
  color: #000000;
}

.content__header-blue {
  color: #4780c5;
}

.header__menu-item {
  font-size: 18px;
}

.header__menu-item:hover {
  color: #4780c5;
  cursor: pointer;
}

.advantages__item-first {
  width: 300px;
  height: 300px;
  background-image: url("./images/item1.png");
  background-size: cover;
  background-position: center;
}

.advantages__item-second {
  width: 300px;
  height: 300px;
  background-image: url("./images/item2.png");
  background-size: cover;
  background-position: center;
}

.advantages__item-third {
  width: 300px;
  height: 300px;
  background-image: url("./images/item3.png");
  background-size: cover;
  background-position: center;
}

.advantages__item-fourth {
  width: 300px;
  height: 300px;
  background-image: url("./images/item4.png");
  background-size: cover;
  background-position: center;
}

.advantages__header {
  margin: 0 auto;
  text-align: center;
  font-size: 38px;
  font-style: italic;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.advantages {
  margin-top: 100px;
  margin-bottom: 100px;
}

.price__grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin-left: 120px;
}

.price-container {
  width: 300px;
  height: 300px;
}

.price__item-1 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 23\ \(1\).png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.price__item-2 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 24.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.price__item-3 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 25.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.price__item-4 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 31.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.price__item-5 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 28.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.price__item-6 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 29.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.price__item-7 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 30.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.price__item-8 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 33.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.price__item-9 {
  width: 300px;
  height: 200px;
  background-image: url("./images/image\ 34.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.price__header-main {
  text-align: center;
  margin: 0 auto 30px;
  font-size: 38px;
  font-style: italic;
}

.information {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.information__image {
  width: 400px;
  height: 600px;
  background-image: url("./images/image\ 21.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.information__company {
  max-width: 667px;
  margin-right: 150px;
}

.information__company-header {
  color: #4780c5;
}

.information__company-header2 {
  color: #000000;
  font-size: 38px;
}

.information__company-text {
  font-size: 18px;
}

.price__btn {
  width: 250px;
  height: 70px;
  background-color: #4780c5;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.price-container:hover {
  background-color: #4780c5;
}

.footer {
  background-color: #e0e0e0;
  padding: 30px 50px 200px;
}

.footer__header {
  margin: 0;
  padding: 0;
  font-size: 38px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.footer__menu-item {
  font-size: 18px;
}

.footer__menu-img1 {
  background-image: url("./images/Vector\ \(1\).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
}

.footer__menu-img2 {
  background-image: url("./images/Vector\ \(2\).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
}

.footer__menu-img3 {
  background-image: url("./images/Vector\ \(3\).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
}

.footer__menu-img4 {
  background-image: url("./images/logo4.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
}

.price__header {
  text-align: center;
}

.header__menu-link {
  text-decoration: none;
  color: #000000;
}

.header__menu-link:hover {
  color: #4780c5;
}

.price__text {
  text-align: center;
}

.price {
  margin-bottom: 50px;
}

.calculate__header {
  text-align: center;
  font-size: 38px;
  font-style: italic;
}

.form__header {
  text-align: center;
  font-size: 38px;
}

.form__text {
  text-align: center;
  font-size: 18px;
}

.form__application {
  margin: 0 auto;
  width: 430px;
  padding: 10px 36px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #4780c5;
  position: absolute;
  bottom: 200px;
  right: 10px;
}

.form__input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
  padding: 0 0 20px;
  margin-top: 60px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form__btn {
  background-color: #ffcd59;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.content__rotate {
  position: absolute;
  width: 500px;
  height: 800px;
  top: 0;
  z-index: -1;
  background-color: #4780c5;
  right: -400px;
  transform: rotate(-50deg);
}

.content-container {
  position: relative;
}

.form__img-first {
  background-image: url("./images/image\ 35.png");
  background-size: contain;
  background-position: center;
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

.form {
  position: relative;
}

.form__img-second {
  background-size: cover;
  background-position: center;
  background-image: url("./images/image\ 38.png");
  width: 1000px;
  height: 100px;
  background-repeat: no-repeat;
  position: relative;
  left: 180px;
  bottom: 100px;
}

.form__img-third {
  background-image: url("./images/image\ 43.png");
  width: 300px;
  height: 600px;
  background-size: contain;
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 30px;
  left: 160px;
}

.information__company-img {
  background-image: url("./images/image\ 42.png");
  width: 250px;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-left: 400px;
  cursor: pointer;
}
