.header__menu {
  display: flex;
  gap: 90px;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .header__menu {
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .header__menu {
    gap: 10px;
    margin-left: 0px;
  }
}
