
.price__item-6 {
    width: 300px;
    height: 200px;
    background-image: url("../../../images/image\ 29.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }