.advantages__item-fourth {
  width: 100%;
  height: 300px;
  background-image: url("../../../images/item4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
