.price__item-4 {
  width: 300px;
  height: 200px;
  background-image: url("../../../images/image\ 31.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
