.footer__menu-img2 {
  background-image: url("../../../images/Vector\ \(2\).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .footer__menu-img2 {
    width: 25px;
    height: 25px;
  }
}
