.price__grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-column-gap: 60px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 768px) {
  .price__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}
