.information__image {
  width: 400px;
  height: 600px;
  background-image: url("../../../images/image\ 21.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .information__image {
    display: none;
  }
}
