.form__img-first {
  background-image: url("../../../images/image\ 35.png");
  background-size: contain;
  background-position: center;
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .form__img-first {
    display: none;
  }
}
