.advantages {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .advantages {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .advantages {
    margin-bottom: 150px;
  }
}
