.footer {
  background-color: #e0e0e0;
  padding: 30px 50px 200px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 30px 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .footer {
    padding: 30px 30px 50px;
  }
}
