.content__first-img {
  background-image: url("../../../images/divan.png");
  width: 800px;
  height: 400px;
  background-size: cover;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .content__first-img {
    display: none;
  }
}
