.advantages__item-third {
  width: 100%;
  height: 300px;
  background-image: url("../../../images/item3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
